[Census API Datasets]('https://api.census.gov/data.html')
* ACS/Tiger Mapping files: https://www2.census.gov/geo/tiger/TIGER_DP/
* 2022 Relationship Files: https://www2.census.gov/geo/tiger/TIGER2022/

In [1]:
import pandas 
import json
import requests
import numpy
import os
import sys
import geopandas
import janitor

In [2]:
base_url = "https://api.census.gov/data"
dataset = "acs/acs5"
year = "2019"
variables = "B01001_001E"  # Population variable
state = "06"  # California FIPS code
county = "073"  # Los Angeles County FIPS code
tract = "*"  # All tracts within the county
api_key = "84c7d937e5b6038afeb17bd5615eceef179ff9a3"

endpoint = f"{base_url}/{year}/{dataset}?get={variables}&for=tract:{tract}&in=state:{state}&in=county:{county}&key={api_key}"

In [3]:
endpoint

'https://api.census.gov/data/2019/acs/acs5?get=B01001_001E&for=tract:*&in=state:06&in=county:073&key=84c7d937e5b6038afeb17bd5615eceef179ff9a3'

In [4]:
response = requests.get(endpoint)
if response.status_code == 200:
    data = response.json()
else:
    print("Error fetching data from the API")

In [5]:
df = pandas.DataFrame(data[1:], columns=data[0])

In [6]:
df

    B01001_001E state county   tract
0          6856    06    073  016504
1          5188    06    073  017051
2          3305    06    073  017053
3          5731    06    073  017054
4          5277    06    073  017052
..          ...   ...    ...     ...
623        7883    06    073  020020
624        6054    06    073  007200
625        4477    06    073  015302
626        5340    06    073  016401
627        1881    06    073  016613

[628 rows x 4 columns]

In [ ]:
# You can save the results to a file or process them as needed